*{
    margin: 0;
    padding: 0;
    
}

body{
    background: linear-gradient(0deg, rgba(22,0,64,1) 0%, rgba(76,0,112,1) 52%, rgba(154,6,128,1) 100%);
    height: 100%;
    color: #fff;
}
main{
background-image: url(/img/tetriss.png);
background-size:40% ;
}
ul{
    list-style: none;
}

button{
    padding: 10px 15px;
    background: #fff;
    border: none;
    font-size: 35px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 90px;
}
#reset{
    font-size: 20px;
    color:#fff;
    height: 70px;
    border: solid #fff 3px;
    background-color: #4C0070;
}
h1{
    font-size: 50px;
    padding-top: 10px;
    margin: 30px;
    text-shadow: #000 5px 5px;
    font-family: 'Risque', sans-serif;
}
h2{
    font-size: 35px;
    padding: 20px;
    margin-top: 30px;
    text-shadow: #000 5px 5px;
    font-family: 'Risque', sans-serif;
}
.col-12{
    display: grid;
    grid-template-columns: 70% 10%;
    margin: auto;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.fa{
    color:#79018C;
}
footer{
    margin: 20px 0px 20px 0px;
    font-size: 30px;
    text-align: center;

}
/* ---------ESTILOS PARA CELULAR */
@media (max-width: 480px){
    h1{
    font-size: 35px;
    padding-top: 10px;
    margin: 10px;
    text-shadow: #000 5px 5px;
    }
    h2{
    font-size: 30px;
    padding: 8px 0px;
    margin: 0px;
    text-shadow: #000 5px 5px;
    }
    .mt-2{
       display: flex;
       flex-direction: row;
       top:30%;
    }
    .col-12{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    body{
       margin: 1%;
    }
    #reset{
       width: 60px;
       height: 30px;
       font-size:12px;

    }
    button{
       padding: 5px;
       display: flex;
       flex-direction: column;
       width: 25px;
       height: 30px;
       font-size: 20px;
       border-radius: 5px;
       gap:8px;
       margin: 10px 0px 0px 5px;
       align-items: center;
    }
    #canvas{
       width: 80%;
    }
    footer{
        font-size: 13px;
    }
 }
/* ---------RESPONSIVE PARA TABLET */
@media (min-width: 481px) and (max-width: 850px){
    h1{
    font-size: 40px;
    padding-top: 10px;
    margin: 10px;
    text-shadow: #000 5px 5px;
    }
    h2{
    font-size: 35px;
    padding: 12px 0px;
    margin: 0px;
    text-shadow: #000 5px 5px;
    }
   .mt-2{
      display: flex;
      flex-direction: row;
      top:30%;
   }
   .col-12{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   body{
      margin: 5%;
   }
   #reset{
      width: 90px;
      height: 40px;
      font-size: 20px;
   }
   button{
      padding: 6px;
      display: flex;
      flex-direction: column;
      width: 35px;
      height: 40px;
      font-size: 25px;
      border-radius: 5px;
      margin: 10px 0px 0px 5px;
      align-items: center;
   }
   #canvas{
      width: 80%;
   }
   footer{
    font-size:18px;
   }
}
